################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/XRMOutlookAddInAPI/XRMOutlookAddIn/obj
/XRMOutlookAddInAPI/XRMOutlookAddIn/bin/Debug/netstandard2.0
/XRMOutlookAddInAPI/.vs/XRMOutlookAddIn/v15
