################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/XRMOutlookAddInAPI/XRMOutlookAddIn/obj
/XRMOutlookAddInAPI/XRMOutlookAddIn/bin/Debug/netstandard2.0
/XRMOutlookAddInAPI/.vs/XRMOutlookAddIn/v15
/XRMOutlookAddInAPI/XRMOutlookAddIn/bin/Release/netstandard2.0
/XRMOutlookAddInAPI/.vs/XRMOutlookAddIn/DesignTimeBuild/.dtbcache
/XRMOutlookAddinUI/.vscode/launch.json
/XRMOutlookAddinUI/.vscode/launch.json
/XRMOutlookAddInAPI/XRMOutlookAddIn/Properties/PublishProfiles/XrmAddin - Web Deploy.pubxml
/XRMOutlookAddInAPI/XRMOutlookAddIn/Properties/PublishProfiles/XrmAddin - Web Deploy.pubxml.user
